/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* added */

.app {
  background-color: black;
  place-items: center;
  /* text-align: center; */
}

* {
  justify-content: center;
  margin: 0;
  /* background-color: black; */
}

.app__body {
  background-color: black;
  margin: 0;
  display: grid;
  place-items: center;
  z-index: -1;
  /* width: 100%; */
  /* height: 600px; */
  /* display: flex; */
  /* justify-content: center;  */
}

.app__container {
  display: flex;
  background-color: black;
  padding-top: 36px;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 50;
  /* height: 100%; */
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
} 

.app__account__container {
  display: flex;
  background-color: black;
  padding-top: 36px;
  width: 100vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 50;
  /* height: 100%; */
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  box-sizing: border-box;
} 