.chartStyle{
    background-color: rgb(140, 167, 167);
}

.linegraph{
    height: 50%;
    width: 40%;
    z-index: 1;
}

.canvas {
    z-index: 0;
    display:flex;
    overflow-clip-margin:inherit;
    overflow:auto;
}