.account-container {
  max-width: 400px;
  padding: 30px;
  background-color: #1E2023;
  border-radius: 5px;
  border: 1px solid #42494D;
  color: white;
}

.account-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.account__header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #42494D;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  position: sticky;
}

.account__header p {
  font-weight: bolder;
  font-size: large;
}

.account__lists {
  border-top: 2px solid #42494D;
}

input[type="text"],
input[type="date"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #1E2023; 
  color: white; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #2F4F4F; 
  color: white; 
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.logout-container {
  margin-top: 20px;
  text-align: center;
}
