.chartStyle {
  background-color: rgb(140, 167, 167);
  display: inherit;
}

.linegraph {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.canvas {
  display: flex;
  overflow-clip-margin: inherit;
  overflow: auto;
}