/* .chartStyle {
  background-color: rgb(140, 167, 167);
  display: inherit;
  
} */

.bargraph {
  display: flex;
  position: relative;
  z-index: 1;
}


.customs{
  display: flex; /* Added to display children in a row */
  position: relative;
  z-index: 1;
}
/* .canvas {
  display: flex;
  overflow-clip-margin: inherit;
  overflow: auto;
} */
