.header__wrapper {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-bottom: 10px;
}

.header__logo img {
  margin-left: 48px;
  width: 55px;
  height: auto;
}

.header__title {
  margin-left: 48px;
  color: #64b9ff;
  font-size: large;
}

.header__menuItems {
  margin-left: 48px;
  margin-right: 48px;
}

.header__menuItems a {
  color: #64b9ff;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}
.header__menuItems a:hover,
.header__menuItems a:active {
  color: #53daf2;
}