.header__wrapper {
  background-color: rgb(52, 52, 52);
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 90px;
  padding: 0 20px; /*Adjusted padding for more consistent spacing */
  position: sticky;
  top: 0; /* Sticky position to stay at the top */
  z-index: 1000; /* Ensure header is on top of other elements */
}

.header__logo img {
  width: 55px;
  height: auto;

  margin-top: 7px;
}

.header__title {
  color: #64b9ff;
  font-size: 1.5rem; /* Using rem units for scalable font size */
  margin-left: 10px;
  margin-right: 60px;
}

.header__menuItems {
  display: flex;
  gap: 20px; /* Adjusted gap for better spacing between menu items */
}

.header__menuItems a {
  color: #64b9ff;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px 15px; /* Adjusted padding */
  border-radius: 4px; /* Added rounded corners for a button-like appearance */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.header__userInfo {
  margin-left: 50px;
}

.header__menuItems a:hover,
.header__menuItems a:active {
  color: #53daf2;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background on hover */
}
