.investment-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .investment-header {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42494D;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    position: sticky;
  }

  .invest-invest-container {
    display: flex;
    background-color: black;
    padding-top: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 50;
    /* height: 100%; */
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  } 

  .investment-container {
    padding: 30px 20px;         
    background-color: #1E2023;
    border-radius: 5px;           
    color: white;
  }

  .investment-header p {
    font-weight: bolder;
    font-size: large;
  }
  
  .investment-lists {
    border-top: 2px solid #42494D;
  }
  
  .action-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .action-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }
  
  .action-buttons button.active {
    background-color: #0056b3;
  }
  
  .investment-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .investment-form select,
  .investment-form input[type="number"],
  .investment-form button {
    margin-right: 10px;
  }
  
  .investment-form select,
  .investment-form input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }
  
  .investment-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
  }
  
  /* Error message */
  .error-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Transaction list */
  .transaction-list {
    padding: 30px 20px;
  }
  
  /* Styles for Error Message component (if needed) */
  .error-message .error {
    color: #dc3545;
    font-weight: bold;
  }
  