/* NewsFeed.css */
.news-container {
    max-height: 500px; 
    scrollbar-width: none; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    border: 1px solid #42494D;
    margin-top: 20px;
    padding: 10px;
    background-color: #1E2023;
}
.news-container::-webkit-scrollbar {
  width: 0;
  height: 0;
} 

.news-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.news-headline {
    font-size: 20px;
    color: #333;
}

.news-summary {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.read-more:hover {
    background-color: #0056b3;
}

.news__icon{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 1px;
  border-bottom: 1px solid #42494D;
  width: 30px;
  height:30px;
  vertical-align: middle;
}
.news-title {
    font-size: 24px;
    font-weight: bold; 
    margin-bottom: 10px; 
}
