.newsfeed {
  flex: 0.7;
  color: white;
}

.newsfeed__container{
  height: inherit;
}
.newsfeed__portfolio {
  text-align: left;
}

.newsfeed__portfolio h1{
  margin: 0;
}

.newsfeed__portfolio p{
  margin-top: 0;
}

.newsfeed__chartSection {
  height: auto;
}

.newsfeed__chart {
  width: 100%;
  height: inherit;
}

