.newsfeed {
  display: flex;
  flex-direction: column;
  width: max-content;
  flex: 0.7;
  color: white;
  background-color: black;
}

.newsfeed__container {
  flex-direction: column;
  flex: 1;
  background-color: black;
  font-size: 12px;
}

.newsfeed__portfolio {
  text-align: left;
}

.newsfeed__portfolio h1{
  margin: 0;
}

.newsfeed__portfolio p{
  margin-top: 0;
}

.newsfeed__chartSection {
  display: flex;
  flex-direction: column;
  width: inherit;
  flex: inherit;
  overflow: auto;
}

.newsfeed__chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

