/* NewsFeed.css */
.news-container {
    max-height: 500px; 
    scrollbar-width: none; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    border: 1px solid #42494D;
    margin-top: 20px;
    padding: 10px;
    background-color: #1a1a1a;
}
.news-container::-webkit-scrollbar {
  width: 0;
  height: 0;
} 

.news-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}



.news__icon{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 1px;
  border-bottom: 1px solid #42494D;
  width: 30px;
  height:30px;
  vertical-align: middle;
}
.news-title {
    font-size: 32px;
    margin-bottom: 15px; 
    font-weight: normal;
}
.news-summary-link {
    font-size: 14px;
    color: #fffefe;
    background-color: #1a1a1a;
    text-decoration: none; 
}
.news-summary-link:hover {
    color: #53daf2;
    background-color: #1a1a1a;
}

.news__article {
    border-bottom: 1px solid #42494D; 
    padding-bottom: 20px; 
    margin-bottom: 20px;
    background-color: #1a1a1a;
    font-weight: normal;
}
.news__article:hover {
    color: #53daf2;
    background-color: #31363A; 
    border: 1px solid #ddd;
    border-radius: 5px;
}
.new__source{
    font-weight: normal;
}