.stats {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  color: white;
  width: max-content;
}

.stats__container {
  flex-direction: column;
  flex: 1;
  background-color: #1E2023;
  border-radius: 5px;
  border: 1px solid #42494D;
  overflow-y: auto;
}

.stats__header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #42494D;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  position: sticky;
}

.stats__rows {
  height: auto;
  max-height: 200px;
  /* overflow: scroll; */
}

.stats__lists {
  border-top: 1px solid #42494D;
}

.stats__header p {
  font-weight: bolder;
  font-size: large;
}
.money__icon{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 1px;
  border-bottom: 1px solid #42494D;
  width: 30px;
  height:30px;
}
.list__icon{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 1px;
  width: 30px;
  height:30px;
  border-bottom: 1px solid #42494D;
}